<div class="container">
<div class="center_content">
  <div class="left_nav">
      <ul>
          <li><%= link_to '场地设施',sites_path%></li>
            <li><%= link_to '预约情况',sorders_path%></li>
            <li><a href="#">场地要求</a></li>
        </ul>
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'order_2.gif'%></div>
      <ul id="place">
        <%= render @sorders%> 
      </ul>
</div>
      
</div>
<div class="centerplay">
        <%= paginate @sorders %>
      </div>  
<br />

<%= link_to 'New Sorder', new_sorder_path %>

</div>

