

<div class="container">
<div class="center_content">
  <div class="left_nav">
      <ul>
          <li><%= link_to '场地设施',sites_path%></li>
            <li><%= link_to '预约情况',sorders_path%></li>
            <li><a href="#">场地要求</a></li>
        </ul>
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'order_2.gif'%></div>
      <ul id="place">
      	<h3>场 地 租 用 申 请 表</h3>
        <%= render 'form' %>
      </ul>
</div>
      
</div>
 
<br />

<%= link_to '返回', sorders_path %>

</div>
