<p id="notice"><%= notice %></p>

<p>
  <b>Sapplicant:</b>
  <%= @sorder.sapplicant %>
</p>

<p>
  <b>Stel:</b>
  <%= @sorder.stel %>
</p>

<p>
  <b>Susetime:</b>
  <%= @sorder.susetime %>
</p>

<p>
  <b>Susereason:</b>
  <%= @sorder.susereason %>
</p>

<p>
  <b>Sname:</b>
  <%= @sorder.sname %>
</p>

<p>
  <b>Sopinion:</b>
  <%= @sorder.sopinion %>
</p>

<p>
  <b>Sreturntime:</b>
  <%= @sorder.sreturntime %>
</p>

<p>
  <b>Ssituation:</b>
  <%= @sorder.ssituation %>
</p>

<p>
  <b>Skeeper:</b>
  <%= @sorder.skeeper %>
</p>


<%= link_to 'Edit', edit_sorder_path(@sorder) %> |
<%= link_to 'Back', sorders_path %>
