<div class="container">
	<%= render :partial => @notice%>
	 <%= @notice.nfilenumber %>
    <%= sanitize  @notice.ncontent %>
<%= link_to '编辑', edit_notice_path(@notice) %> |
<%= link_to '返回', notices_path %>
</div>