
<div class="container">
  <div class="center_content">
    <div class="left_nav">
      <ul>
          <li><%= link_to '实验设备',equipment_index_path%></a></li>
            <li><%= link_to '预约情况',eorders_path%></a></li>
            <li><a href="#">使用情况</a></li>
        </ul>
  </div>

<<<<<<< HEAD
<% @eorders.each do |eorder| %>
  <tr>
    
    <td><%= eorder.eapplicant %></td>
    <td><%= eorder.etel %></td>
    <td><%= eorder.eusetime %></td>
    <td><%= eorder.eusereason %></td>
    <td><%= eorder.ename %></td>
    <td><%= eorder.eartopinion %></td>
    <td><%= eorder.ereturntime %></td>
    <td><%= eorder.esituation %></td>
    <td><%= eorder.ekeeper %></td>
    <td><%=button_to '批准',line_items_path(:eorder_id => eorder) %></td>
    <td><%= link_to 'Show', eorder %></td>
    <td><%= link_to 'Edit', edit_eorder_path(eorder) %></td>
    <td><%= link_to 'Destroy', eorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
=======
<div class="right_content">
      <div class="logoer"><%= image_tag 'equipment_02.gif'%></div>
>>>>>>> develop

              <%= render @eorders %>
    </div>
</div>
<div class="centerplay">
    <%= paginate @eorders %>
</div> 
<br />
<%= link_to 'New Eorder', new_eorder_path %>
</div>

