<h1>Listing eorders</h1>

<table border=2>
  <tr>
    
    <th>申请人</th>
    <th>联系电话</th>
    <th>使用时间</th>
    <th>长时间借用原因</th>
    <th>设备名</th>
    <th>艺术教学实验中心意见</th>
    <th>归还时间</th>
    <th>设备归还检查情况</th>
    <th>外借期间设备保管人</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eorders.each do |eorder| %>
  <tr>
    
    <td><%= eorder.eapplicant %></td>
    <td><%= eorder.etel %></td>
    <td><%= eorder.eusetime %></td>
    <td><%= eorder.eusereason %></td>
    <td><%= eorder.ename %></td>
    <td><%= eorder.eartopinion %></td>
    <td><%= eorder.ereturntime %></td>
    <td><%= eorder.esituation %></td>
    <td><%= eorder.ekeeper %></td>
    <td><%=button_to '批准',line_items_path(:eorder_id => eorder) %></td>
    <td><%= link_to 'Show', eorder %></td>
    <td><%= link_to 'Edit', edit_eorder_path(eorder) %></td>
    <td><%= link_to 'Destroy', eorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eorder', new_eorder_path %>
