<div style="width:400px;margin-left:auto;margin-right:auto;">
<table class="table" border=1>
    <h4>设备预约申请表</h4>
  <tr>
    <td>申请人:</td><td><%= @eorder.eapplicant %></td>
    <td>联系电话:</td><td><%= @eorder.etel %></td>
  </tr>
  <tr>
    <td colspan="2">使用时间:</td>
    <td colspan="2"><%= @eorder.eusetime %>
    </td>
</tr>
  <tr>
    <td colspan="2">长时间借用原因:</td>
    <td colspan="2"><%= @eorder.eusereason %>
    </td>
</tr>
  <tr>
    <td colspan="2">设备名称:</td>
    <td colspan="2"><%= @eorder.ename %>
    </td>
</tr>
  <tr>
    <td colspan="2">艺术教学实验中心意见:</td>
    <td colspan="2"><%= @eorder.eartopinion %>
    </td>
</tr>
    <tr>
    <td colspan="2">归还时间:</td>
    <td colspan="2"><%= @eorder.ereturntime %>
    </td>
</tr>
  <tr>
    <td colspan="2">设备归还检查情况:</td>
    <td colspan="2"><%= @eorder.esituation %>
    </td>
</tr>
  <tr>
    <td colspan="2">外借期间设备保管人:</td>
    <td colspan="2"><%= @eorder.ekeeper %>
    </td>
</tr>
</table>
<hr>
</div>
<%= link_to '返回', eorders_path %>
