<p id="notice"><%= notice %></p>


<p>
  <b>申请人:</b>
  <%= @eorder.eapplicant %>
</p>

<p>
  <b>联系电话:</b>
  <%= @eorder.etel %>
</p>

<p>
  <b>使用时间:</b>
  <%= @eorder.eusetime %>
</p>

<p>
  <b>长时间借用原因:</b>
  <%= @eorder.eusereason %>
</p>
<p>
  <b>设备名称:</b>
  <%= @eorder.ename %>
</p>
<p>
  <b>艺术教学实验中心意见:</b>
  <%= @eorder.eartopinion %>
</p>

<p>
  <b>归还时间:</b>
  <%= @eorder.ereturntime %>
</p>

<p>
  <b>外借期间设备保管人:</b>
  <%= @eorder.esituation %>
</p>

<p>
  <b>Ekeeper:</b>
  <%= @eorder.ekeeper %>
</p>


<%= link_to 'Edit', edit_eorder_path(@eorder) %> |
<%= link_to 'Back', eorders_path %>
