<p id="notice"><%= notice %></p>

<p>
  <b>Eapplicant:</b>
  <%= @eorder.eapplicant %>
</p>

<p>
  <b>Etel:</b>
  <%= @eorder.etel %>
</p>

<p>
  <b>Eusetime:</b>
  <%= @eorder.eusetime %>
</p>

<p>
  <b>Eusereason:</b>
  <%= @eorder.eusereason %>
</p>

<p>
  <b>Eartopinion:</b>
  <%= @eorder.eartopinion %>
</p>

<p>
  <b>Ereturntime:</b>
  <%= @eorder.ereturntime %>
</p>

<p>
  <b>Esituation:</b>
  <%= @eorder.esituation %>
</p>

<p>
  <b>Ekeeper:</b>
  <%= @eorder.ekeeper %>
</p>


<%= link_to 'Edit', edit_eorder_path(@eorder) %> |
<%= link_to 'Back', eorders_path %>
