<%= form_for(@vedio) do |f| %>
  <% if @vedio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vedio.errors.count, "error") %> prohibited this vedio from being saved:</h2>

      <ul>
      <% @vedio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vname %><br />
    <%= f.text_field :vname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
