<%= form_for(@vedio) do |f| %>
  <% if @vedio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vedio.errors.count, "error") %> prohibited this vedio from being saved:</h2>

      <ul>
      <% @vedio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <p>
        <label>My Avatar</label>
        <%= f.file_field :avatar %>
       
      </p>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


