<h1>Listing vedios</h1>

<table>
  <tr>
    <th>Vname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vedios.each do |vedio| %>
  <tr>
    <td><%= vedio.vname %></td>
    <td><%= link_to 'Show', vedio %></td>
    <td><%= link_to 'Edit', edit_vedio_path(vedio) %></td>
    <td><%= link_to 'Destroy', vedio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vedio', new_vedio_path %>
