<div class="post">
	<div>
	<%= image_tag(equipment.epicture.url) if equipment.epicture.present? %>

	</div>
	<div><%= link_to equipment.ename %></div>
    
    <div><%= equipment.etype %></div>
    <div><%= equipment.elist %></div>
    <div><%= equipment.eprice %></div>
    <div><%= equipment.eremain %></div>
    
    <div><%= link_to 'Show', equipment %></div>
    <div><%= link_to 'Edit', edit_equipment_path(equipment) %></div>
    <div><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	
    
    
</div>
