<%= form_for(@equipment, :html => {:multipart => true}) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
        <label>设备图片</label>
        <%= f.file_field :epicture %>
       
  </div>
  <div class="field">
    <%= f.label :设备名 %><br />
    <%= f.text_field :ename %>
  </div>
  <div class="field">
    <%= f.label :设备型号 %><br />
    <%= f.text_field :etype %>
  </div>
  <div class="field">
    <%= f.label :设备清单 %><br />
    <%= f.text_area :elist %>
  </div>
  <div class="field">
    <%= f.label :设备价格 %><br />
    <%= f.number_field :eprice %>
  </div>
  <div class="field">
    <%= f.label :设备剩余量 %><br />
    <%= f.number_field :eremain %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
