<p id="notice"><%= notice %></p>
<p><%= image_tag(@equipment.epicture.url) if @equipment.epicture.present? %></p>
<p>
  <b>设备名:</b>
  <%= @equipment.ename %>
</p>

<p>
  <b>设备型号:</b>
  <%= @equipment.etype %>
</p>

<p>
  <b>设备清单:</b>
  <%= @equipment.elist %>
</p>

<p>
  <b>设备价格:</b>
  <%= @equipment.eprice %>
</p>

<p>
  <b>设备剩余量:</b>
  <%= @equipment.eremain %>
</p>


<%= link_to '编辑', edit_equipment_path(@equipment) %> |
<%= link_to '返回', equipment_index_path %>
