<p id="notice"><%= notice %></p>

<p>
  <%= @rule.rtitle %>
</p>

<p>
  <b>发布者:</b>
  <%= @rule.rpublisher %>
</p>

<p>
  <%= @rule.rcontent %>
</p>


<%= link_to '编辑', edit_rule_path(@rule) %> |
<%= link_to '返回', rules_path %>
