<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
        <label>场地图片</label>
        <%= f.file_field :spicture %>
       
  </div>
  <div class="field">
    <%= f.label :场地名 %><br />
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label :场地描述 %><br />
    <%= f.text_area :sdescribe %>
  </div>
  <div class="field">
    <%= f.label :场地状态 %><br />
    <%= f.text_field :sstate %>
  </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
