<li>

	<%= image_tag(site.spicture.url(:one)) if site.spicture.present? %>  

    <%= link_to site.sname ,site%>
    <%= site.sdescribe %>
    <%= site.sstate %>
    <%= link_to '预约', new_sorder_path %>
      
 </li>
      


  