<div class="container">
<!--LOGO-->
    	<div class="logo"><%= image_tag "ArtWeb_03.gif"%></div>
<!--LOGO-->

<!--一级导航 -->
        <div class="nav1">
        	<ul>
            	<li><%= link_to "首页", root_path %></li>
                <li><%= link_to "设备清单", equipment_index_path %></li>
                <li><%= link_to "设备预约", equipment_index_path%></li>
                <li><%= link_to "场地预约", sites_path%></li>
                <li><%= link_to "视频共享", videos_path %></li>
                <li><%= link_to "规章制度", rules_path %></li>
                <li><%= link_to "通知公告", notices_path%></li>
            </ul>
        </div>
<!--一级导航 -->
</div>
